aiohappyeyeballs==2.6.1
aiohttp==3.12.13
aiosignal==1.3.2
altair==5.5.0
altgraph==0.17.4
annotated-types==0.7.0
anyio==4.2.0
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.7.2
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
auto-py-to-exe==2.42.0
Babel==2.14.0
bcrypt==4.3.0
beautifulsoup4==4.12.3
bleach==6.1.0
blinker==1.9.0
blobfile==3.0.0
bottle==0.12.25
bottle-websocket==0.2.9
brazilcep==6.3.1
brython==3.13.0
cachetools==5.5.2
captcha==0.7.1
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.1
commonmark==0.9.1
contourpy==1.3.0
cryptography==43.0.3
customtkinter==0.3
cycler==0.12.1
darkdetect==0.8.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
deprecation==2.1.0
distlib==0.3.8
distro==1.9.0
Django==5.0
docutils==0.21.2
durationpy==0.10
Eel==0.16.0
et-xmlfile==1.1.0
executing==2.0.1
extra-streamlit-components==0.1.80
fastjsonschema==2.19.1
filelock==3.13.1
fire==0.7.0
Flask==3.1.0
fonttools==4.54.1
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.7.0
fsspec==2025.3.2
future==0.18.3
gevent==23.9.1
gevent-websocket==0.10.1
gitdb==4.0.12
GitPython==3.1.44
google-auth==2.40.1
gotrue==2.12.0
great-tables==0.13.0
greenlet==3.0.3
guidata==3.1.0
guiqwt==4.4.4
h11==0.16.0
h2==4.2.0
h5py==3.11.0
hpack==4.1.0
htmltools==0.5.3
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.31.4
hyperframe==6.1.0
idna==3.6
importlib_metadata==8.5.0
importlib_resources==6.4.5
iniconfig==2.1.0
ipykernel==6.29.0
ipython==8.21.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.6
jiter==0.10.0
jpype1==1.5.1
json5==0.9.14
jsonpointer==2.4
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter_server==2.12.5
jupyter_server_terminals==0.5.2
jupyterlab==4.0.12
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
Kivy==2.3.0
Kivy-Garden==0.1.5
kivymd==1.2.0
kiwisolver==1.4.7
kubernetes==32.0.1
llama_stack==0.2.7
llama_stack_client==0.2.7
lxml==5.3.0
macholib==1.16.3
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.2
matplotlib-inline==0.1.6
mdurl==0.1.2
micropip==0.8.0
mistune==3.0.2
MouseInfo==0.1.3
multidict==6.4.4
mysql-connector-python==8.4.0
narwhals==1.42.0
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.6.0
node==1.2.2
notebook==7.0.7
notebook_shim==0.2.3
npm==0.1.1
numpy==1.26.2
oauthlib==3.2.2
odict==1.9.0
ofxparse==0.21
openai==1.79.0
openpyxl==3.1.2
optional-django==0.3.0
overrides==7.7.0
packaging==23.2
pandas==2.3.0
pandocfilters==1.5.1
parso==0.8.3
pbr==6.0.0
pdfrw==0.4
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.1.0
pluggy==1.5.0
plumber==1.7
postgrest==1.0.2
prometheus-client==0.19.0
prompt-toolkit==3.0.43
propcache==0.3.2
protobuf==6.31.1
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-hot-reload==1.0.6
pyaml==25.1.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
PyAutoGUI==0.9.54
pycep-correios==5.2.0
pycnab240==0.1.28
pycparser==2.21
pycryptodomex==3.23.0
pydantic==2.11.4
pydantic_core==2.33.2
pydeck==0.9.1
PyGetWindow==0.0.9
Pygments==2.17.2
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
PyJWT==2.10.1
PyMsgBox==1.0.9
PyMuPDF==1.24.10
PyMuPDFb==1.24.10
PyMySQL==1.1.1
PyNFe==0.4.4
pynput==1.8.1
pyobjc-core==11.0
pyobjc-framework-ApplicationServices==11.0
pyobjc-framework-Cocoa==11.0
pyobjc-framework-CoreText==11.0
pyobjc-framework-Quartz==11.0
pyOpenSSL==24.2.1
pyparsing==3.1.1
PyPDF2==3.0.1
pyperclip==1.9.0
pyproject==1.3.1
pyqt-tools==1.0.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.13
PyQt5_sip==12.15.0
PyQt6==6.7.1
PyQt6-Qt6==6.7.0
PyQt6-WebEngine==6.7.0
PyQt6-WebEngine-Qt6==6.7.2
PyQt6-WebEngineSubwheel-Qt6==6.7.2
PyQt6_sip==13.8.0
pyqtgraph==0.13.7
PyRect==0.2.0
PyScreeze==1.0.1
pyscript==0.3.3
PySide6==6.8.0.2
PySide6_Addons==6.8.0.2
PySide6_Essentials==6.8.0.2
pytest==8.4.0
pytest-mock==3.14.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-json-logger==2.0.7
python3-cnab==1.0.11
PythonQwt==0.12.1
pytweening==1.2.0
pytz==2023.3.post1
pywhatkit==5.4
PyYAML==6.0.1
pyzmq==25.1.2
QtPy==2.4.1
react==4.3.0
realtime==2.4.3
referencing==0.33.0
regex==2024.11.6
reportlab==4.2.0
requests==2.31.0
requests-file==2.1.0
requests-oauthlib==2.0.0
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.17.1
rsa==4.9.1
rubicon-objc==0.5.0
scipy==1.13.0
Send2Trash==1.8.2
setuptools==69.0.3
setuptools-git==1.1
shiboken6==6.8.0.2
shiboken6_generator==6.8.0.2
signxml==4.0.2
six==1.16.0
smmap==5.0.2
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.31
SQLAlchemy-Utils==0.41.2
sqlparse==0.4.4
stack-data==0.6.3
stevedore==5.2.0
storage3==0.11.3
streamlit==1.45.1
streamlit-authenticator==0.4.2
StrEnum==0.4.15
supabase==2.15.3
supafunc==0.9.4
tabula-py==2.9.3
tenacity==9.1.2
termcolor==3.1.0
terminado==0.18.0
texttable==1.7.0
tiktoken==0.9.0
tinycss2==1.2.1
tkcalendar==1.6.1
toml==0.10.2
tomli==2.0.1
tornado==6.4
tqdm==4.67.1
traitlets==5.14.1
typer==0.9.0
types-python-dateutil==2.8.19.20240106
typing-inspection==0.4.0
typing_extensions==4.14.0
tzdata==2023.3
uri-template==1.3.0
urllib3==2.2.1
virtualenv==20.25.0
virtualenv-clone==0.5.7
virtualenvwrapper==6.1.0
watchdog==5.0.3
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
websockets==14.2
Werkzeug==3.1.3
whichcraft==0.6.1
wikipedia==1.4.0
yarl==1.20.1
zeep==4.2.1
zipp==3.20.2
zope.component==6.0
zope.deferredimport==5.0
zope.deprecation==5.0
zope.event==5.0
zope.hookable==7.0
zope.interface==6.1
zope.lifecycleevent==5.0
zope.proxy==6.1
